#post-container {
  margin-top: 2%;
  margin-bottom: 5%;
}

#post-image {
  margin-top: 2%;
  display: block;
  max-height: 1200px;
}

#post-body {
  align-content: center;
}

#post-username {
  color: gray;
}

#post-body-container {
  margin-bottom: 5%;
  background-color: rgb(243,243,255);
  padding: 4%;
}

#comments-container {
  margin-bottom: 5%;
  margin-top: 1%;
}

.comment-template {
  margin-top: 2%;
  background-color: #f8f3ff;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.comment-username {
  color: rgb(50,50,50);
  text-decoration: underline;
}

#new-comment-container {
  margin-top: 1%;
  margin-bottom: 5%;
}

.comment-delete-button {
  float: right;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #e63921;
  color: #FFF;
  font-size: 12px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

#comment-trash-icon {
  margin: 30% !important;
}

.comment-edit-button {
  float: right;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #21e6cc;
  color: #FFF;
  font-size: 12px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;

  margin-right: 1%;
}

#comment-edit-icon {
  margin: 30% !important;
}

